.player-container .fab.fa-spotify{
    color: #b9b91d;
    font-size: 25px;
    /* background-color: whitesmoke; */
} 
.BODYCLASS {
    background-color: #121212;
    color: white;
    font-style: unset;
    margin: 0;
    padding: 0;
    font-family:'Times New Roman', Times, serif;
}
.player-container {
    text-align: center;
    margin-top: 80px;
}
.player {
    width: 300px;
    margin: 20px auto;
    padding: 20px;
    background: #1f1f1f;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(126, 126, 51, 0.719);
}
.home_button p {
    width: 25px;
    height: 4px;
    background-color: white;
    border-radius: 2px;
    margin: 5px 0;
}
.home_button {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.icon_button {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}
.icon_button a {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: white;
    padding: 5px 0;
}
.player-controls {
    margin-top: 20px;
    text-align: center;
}
.playlist {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}
.playlist li {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    background: #79762faf;
    margin-bottom: 8px;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
}
.playlist li:hover {
    background: #0f0909ab;
}
